<a href="https://colab.research.google.com/github/AftabUdaipurwala/Quick_Python/blob/master/Introduction_to_Scikit_Learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction 
-> Machine learning is a method of data analysis that automates analytical model building. 

-> There are many libraries for extending the functionality of Python. 

-> The library we are focused on is called SciKit Learn. 

-> SciKit-Learn was created specifically for building predictive models. 

-> Most commercial machine learning is supervised. 

-> This means we have a data set or labeled data from which to model our models. 

-> The majority of models are build from csv files or comma separated value files. 

-> We are learning predictive modeling. 

-> Predictive modeling is focused on building accurate models without regard to 
how they are built. 

-> In machine learning column names are called features. 

-> The rows are called observations.

-> The feature we are trying to predict is called a target variable. 

-> Choosing what columns or features to use in the modeling process is called feature selection.

-> The easiest way to install Python is to use the Anaconda distribution.

# Library Section

In [27]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings("ignore")
from google.colab import drive

#Data Import

In [6]:
# Mounting the drive for loading the data
drive.mount('/content/drive')
!ls '/content/drive/MyDrive/py-master/Sklearn'
data = pd.read_csv('/content/drive/MyDrive/py-master/Sklearn/BBC.csv')
data.head(2)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
'A Gentle Intro to SKLearn.ipynb'   BBC.csv

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,90000,2,0,5,1,0,2,2,50,1
1,5,1,60000,3,3,5,0,1,1,2,51,1

In [16]:
data.shape

(18484, 12)

In [21]:
data.describe().round(1)

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
count,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0,18484.0
mean,3.3,1.5,57305.8,1.8,1.0,3.3,0.7,1.5,6.0,1.8,54.6,0.5
std,1.4,0.5,32285.8,1.6,1.5,1.4,0.5,1.1,6.4,0.9,11.3,0.5
min,1.0,1.0,10000.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,36.0,0.0
25%,2.0,1.0,30000.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,46.0,0.0
50%,3.0,1.0,60000.0,2.0,0.0,3.0,1.0,2.0,2.0,1.0,53.0,0.0
75%,5.0,2.0,70000.0,3.0,2.0,5.0,1.0,2.0,10.0,3.0,62.0,1.0
max,5.0,2.0,170000.0,5.0,5.0,5.0,1.0,4.0,20.0,3.0,106.0,1.0

# Data Preprocessing

In [7]:
arrays = data.values
x = arrays[:,0:11]
y=arrays[:,11]

# Splitting data

In [29]:
test_size=0.3
seed =45
xtrain,xtest,ytrain,ytest = train_test_split(x,y,random_state=seed,test_size=test_size)
len(xtrain), len(xtest)

(12938, 5546)

# Model building

In [30]:
model = RandomForestClassifier()
model.fit(xtrain,ytrain)
result = model.score(xtest,ytest)
print('Accuracy is %.2f%%' %(result*100))

Accuracy is 78.24%

In [31]:
model = SVC()
model.fit(xtrain,ytrain)
result = model.score(xtest,ytest)
print('Accuracy is %.2f%%' %(result*100))

Accuracy is 51.53%

In [32]:
model = KNeighborsClassifier()
model.fit(xtrain,ytrain)
result = model.score(xtest,ytest)
print('Accuracy is %.2f%%' %(result*100))

Accuracy is 78.33%

In [33]:
model = LogisticRegression()
model.fit(xtrain,ytrain)
result = model.score(xtest,ytest)
print('Accuracy is %.2f%%' %(result*100))

Accuracy is 59.32%

# Summary

The first part of building our model is importing our functions or libraries. 

We can import entire libraries but it's the Pythonic way to only import what we need. 

We use from to import individual modules. 

After from we specify a library to import our function from. 

A csv is a comma separated values file. 

The read_csv function reads in our data set. 

We can place our csv into our default directory and call them without 
specifying the path. 

A target variable is that item or thing we are trying to predict. 

In arrays the 0 counts. 

All models are called classifiers in Scikit Learn. 

We use test_size to designate our split. 

Most modelers use a 80/20 or 70/30 split for testing and training their data. 

A random seed is used for reproducability. 

One of the hardest parts of predictive modeling is cleansing our data. 

In most learning exercises we get a nice clean data set. Not so in the real world. 

In order to run a cell use the ctrl + enter key. 

If the cell runs successfully you may not get any results inside our notebook. 

We use the getcwd() function in order to view our working directory. 

We can use the head and tail switches to get the top and bottom results in our data set. 

Composite data types can hold more than one value. 

An array is a composite data type. 

Most of our arrays will hold numbers. 

Accuracy is a viable metric in a data set that's balanced.